/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~jquery-confirm/css/jquery-confirm.css';
@import './assets/css/font-awesome.css';
@import './assets/css/w3.css';
@import './assets/css/thumbnail-slider.css';
@import './assets/css/ninja-slider.css';

body
{
    background-color: whitesmoke;
    overflow-x: hidden;
}
*
{
    margin: 0;
    padding: 0;
    transition: all 300ms;
}