  <section class="main">  
  <div class="data">
    <div>
      <ul  class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <li><a href="#" routerLink="userbooking">Bookings</a></li>
        <li><a href="#" routerLink="userquery">Queries</a></li>
        <li><a href="#" routerLink="userlist">Customer Details</a></li>
        <li><a href="#" routerLink="userfeedback">Feedbacks</a></li>
        <li><a href="#" routerLink="themeslist">Themes List</a></li>
        <li><a href="#" routerLink="photographerslist">Photographer Details</a></li>
        <li><a href="#" routerLink="admin" (click)="logout()">Logout</a></li>
      </ul>  
    </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  </div>
</section>