<div class="col-md-11 col-lg-11 col-xs-11 col-sm-11  heading">
  <h3>Photographer Details</h3>
  <div class="search input-group col-md-3 col-md-offset-9 col-lg-3 col-lg-offset-9 col-xs-12 col-sm-6 col-sm-offset-6">
      <input type="text" class="form-control" [(ngModel)]="city" placeholder="Search Photographer via City...">
      <span class="input-group-btn">
        <button class="btn btn-default searchbtn" type="button" (click)="OnSearch()">Go!</button>
      </span>
  </div>
</div>

<div *ngIf="!searched"  class="col-md-11 col-lg-11 col-xs-11 col-sm-11 main">
  <table class="table table-hover table-striped table-responsive-m">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email Id</th>
        <th>Contact No</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Experience</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of photographers">
        <td>{{p.p_id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}, {{p.pincode}}</td>
        <td>{{p.city}}</td>
        <td>{{p.state}}</td>
        <td>{{p.experience}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="searched"  class="col-md-11 col-lg-11 col-xs-11 col-sm-11 main">
  <table class="table table-hover table-striped table-responsive-m">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email Id</th>
        <th>Contact No</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Experience</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of photographersbycity">
        <td>{{p.p_id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.mobile}}</td>
        <td>{{p.address}}, {{p.pincode}}</td>
        <td>{{p.city}}</td>
        <td>{{p.state}}</td>
        <td>{{p.experience}}</td>
      </tr>
    </tbody>
  </table>
</div>

