<!-- Know Us Page -->
<a name="knowUs"></a>
<div class="know container-fluid">
  <div class="about container col-md-6 col-md-offset-5 col-lg-6 col-lg-offset-5 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h1>KNOW US</h1>
    <p>
    We mainly focuses in wedding photography, family portraits and baby shower.
    We are often traveling to your
    destination to capture the perfect moment in the perfect place.
    </p>
    <p>
    To us photography is about people being real and then letting us paint a picture of that
    moment to remember it forever.We are incredibly blessed to have a team of photographers who work with us on all 
    week days. Please take a few minutes to get to know us.
    </p>
    <p>
    We would love to visit with you by online booking or phone and talk about your wedding,
    event, portrait session or video project. You can also send us query from our website. 
    Please reach out to us through the Contact Page.
    </p>
  </div>
</div>
